* {
  padding: 0;
  margin: 0;
}

.App {
  display: grid;
  grid-template-rows: 25%, 75%;
}

/* Top Bar */
#topBar {
  display: grid;
  grid-template-columns: 7fr 1fr 1fr 1fr;
  border-bottom: 1vh;
  border-bottom-color: black;
  border-bottom-style: ridge;
}

#logo {
  height: 10vh;
}

.topButton {
  height: 8vh;
  position: absolute;
  top: 1%;
}

/* Main Div */

#mainDiv {
  background-color: rgb(219, 219, 219);
}

#displayDiv {
  background-color: white;
  width: 80%;
  margin: 0 auto;
}

/* Every Component */

.title {
  width: 50%;
  margin: 0 auto;
  color: white;
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter,
    monospace;
  background-color: rgb(123, 167, 197);
  border-bottom: 0.1vh;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-left: 0.1vh;
  border-left-color: black;
  border-left-style: solid;
  border-right: 0.1vh;
  border-right-color: black;
  border-right-style: solid;
  text-align: center;
}

/* Post Block */

.postBlock {
  padding: 2vh;
  padding-top: 7vh;
  padding-left: 4vh;
  text-align: center;
}

/* Article User and Topic Div */

.singleArticleDiv {
  width: 70%;
  margin: 0 auto;
  padding: 5vh;
  border: 0.1vh;
  border-color: black;
  border-style: solid;
  margin-bottom: 2vh;
  text-align: center;
}

.singleTopicDiv {
  width: 70%;
  margin: 0 auto;
  padding: 5vh;
  border: 0.1vh;
  border-color: black;
  border-style: solid;
  margin-bottom: 2vh;
}

.singleUserDiv {
  width: 70%;
  margin: 0 auto;
  padding: 5vh;
  border: 0.1vh;
  border-color: black;
  border-style: solid;
  margin-bottom: 2vh;
}

.entryTitle {
  font-size: 5vh;
}

.topicThumbnail {
  height: 15vh;
  width: 15vh;
  margin: 0 auto;
}

.userThumbnail {
  height: 15vh;
  width: 15vh;
}

/* Votes and Comments */
.voteOrCommentImg {
  height: 5vh;
  width: 5vh;
}
