.App {
  height: 100%;
  display: grid;
  grid-template-rows: 2fr 8fr;
}

.title {
  text-align: center;
}

#mainDiv {
  height: 100%;
  background-color: rgba(221, 221, 221, 0.767);
}
#displayDiv {
  height: 100%;
  width: 80%;
  background-color: white;
  margin: auto;
  box-shadow: 5px 5px 5px grey;
}

.displayInfoArea {
  padding: 10%;
  padding-top: 5%;
  height: 100%;
}

/* Top bar with logo and buttons */

#topBar {
  border-bottom: double;
  padding: 2%;
  display: grid;
  background-color: white;
  grid-template-columns: 7fr 1fr 1fr 1fr;
  box-shadow: 5px 5px 5px black;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

#logo {
  width: 250px;
  height: auto;
}

.topButton {
  width: 50px;
  height: auto;
}

/* Articles */

.voteOrCommentImg {
  width: 20px;
  height: auto;
}

.flip {
  transform: rotate(180deg);
}

/* Users  */

.singleUserDiv {
  height: 5%;
}
.userThumbnail {
  display: block;
  width: 10vp;
  height: 80%;
}
