.App {
}

.title {
  text-align: center;
  border: 2px double black;
  background-color: rgba(221, 221, 221, 0.767);
  width: 45%;
  margin: auto;
  padding: 2%;
}

#mainDiv {
  padding-top: 10%;
  height: 100%;
  background-color: rgba(221, 221, 221, 0.767);
}
#displayDiv {
  height: 100%;
  width: 80%;
  background-color: white;
  margin: auto;
  box-shadow: 5px 5px 5px grey;
}

.displayInfoArea {
  padding: 10%;
  padding-top: 5%;
  height: 100%;
}

/* Top bar with logo and buttons */

#topBar {
  border-bottom: double;
  padding: 2%;
  display: grid;
  background-color: white;
  grid-template-columns: 7fr 1fr 1fr 1fr;
  box-shadow: 5px 5px 5px black;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 10%;
  z-index: 99;
}

#logo {
  width: 250px;
  height: auto;
}

.topButton {
  width: 50px;
  height: auto;
}

/* Personal div */

.mainPagePersonalDiv {
  width: 40px;
  max-width: 50px;
  height: 40px;
}

.mainPageThumbnail {
  height: 30px;
  max-width: 40px;
  width: 30px;
}

/* Articles */

.voteOrCommentImg {
  width: 20px;
  height: auto;
}

.flip {
  transform: rotate(180deg);
}

.singleArticleDiv {
  width: 90%;
  margin-top: 5%;
}

.singleCommentDiv {
  width: 90%;
  margin-top: 5%;
}

.singleTopicDiv {
  width: 90%;
  margin-top: 5%;
}

.singleUserDiv {
  width: 90%;
  margin-top: 5%;
}

.entryTitle {
  font-size: 130%;
  padding-left: 5%;
  border-left: solid red;
}

/* Users  */

.singleUserDiv {
  height: 10%;
}
.userThumbnail {
  display: block;
  width: 10vp;
  height: 80%;
}
